@font-face {
    font-family: 'MyFont';
    src: url('./LexendDeca-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'MyFont';
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
        "header header"
        "nav project-container";
}

.header {
    background-color: #e76f51;
    grid-area: header;
    text-align: center;
}

.nav {
    background-color: #264653;
    grid-area: nav;
    min-width: 147px;
} 

.nav > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.3rem;
    padding-left: 15px;
}

.nav li {
    margin-bottom: 10px;
}

.nav ul li:hover {
    cursor: pointer;
    color: #ffd56b;
}

/*MAIN PROJECTS DISPLAY*/

.project-container {
    /*background-color: #e9c46a;*/
    grid-area: project-container;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #2a9d8f;
    width: 250px;
    min-height: 250px;
    box-sizing: border-box;
    padding: 10px;
}

.card h3 {
    margin: 0;
    text-align: center;
    min-height: 46px;
}

.card ul {
    list-style: none;
    padding-left: 0;
}

.card li {
    display: flex;
    justify-content: space-between;
}

.card li:hover {
    color: #ffd56b;
    cursor: pointer;
}

.card p {
    margin: 0;
}

/*FORMS*/

form {
    background-color: #2a9d8f;
    padding: 20px 40px 20px 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

form div {
    display: flex;
    flex-direction: column;
}

form ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

form li {
    margin-bottom: 10px;
}

label[for="newTitle"],
label[for="desc"],
label[for="date"],
label[for="select-option"] {
    margin-right: 8px;
}

#low-priority {
    margin-left: 8px;
}

label[for="project"] {
    margin-bottom: 5px;
}

form h3 {
    margin-top: 0;
    text-align: center;
    font-size: 1.6rem;
}

button {
   border: none;
   text-decoration: none; 
   background-color: #264653;
   color: white;
   padding: 5px 10px;
   align-self: center;
   margin-top: 15px;
}

button:hover {
    cursor: pointer;
    color: #264653;
    background-color: white;
}

/*MODAL*/

.modal {
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
  }

.child {
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    padding: 30px 30px;
    background: #2a9d8f;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: start;
    align-items: start;
    column-gap: 20px;
    row-gap: 10px;
}

.child h3 {
    margin-top: 0;
    align-self: center;
}

.child p,
.child h4 {
    margin: 0;
}

.child h4 {
    justify-self: end;
    font-weight: bold;
}

.star-filled {
    color: yellow;
}